html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  align-items: center;
  background-color: #2f4f4f;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box that contains the squares. */
.play-area {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.45vw;
  height: 40.5vw;
  width: 40.5vw;
  background-color: #000;
  border: solid #000 0.25vw;
  border-top: solid #000 0.75vw;
  border-bottom: solid #000 0.75vw;
  margin: auto 0 0 0;
}

/* Individual tiles */
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  color: #9acd32;
  height: 12.5vw;
  width: 12.5vw;
  background-color: #d8d8d8;
  border: solid #000 0.25vw;
}

/* Game winning lines displayed after game win */
.lines {
  position: fixed;

  height: 40vw;
  width: 40vw;
}

.line {
  position: absolute;
  background-color: #0000aa;
  height: 0.75vw;
  width: inherit;
}

.a-row {
  margin-top: 16%;
}

.b-row {
  margin-top: 49%;
}

.c-row {
  margin-top: 82.2%;
}

.zero-col,
.one-col,
.two-col {
  transform: rotate(90deg);
  margin-top: 50%;
}

.zero-col {
  margin-left: -33.333%;
}

.two-col {
  margin-left: 33.33%;
}

.diagonals {
  margin-left: -19%;
}

.diagonal,
.diagonal1 {
  width: 138%;
  margin-top: 49%;
}

.diagonal {
  transform: rotate(45deg);
}

.diagonal1 {
  transform: rotate(135deg);
}

footer {
  font-size: 2vw;
  font-style: italic;
  margin: auto 0 0.5vw 0;
}
/* JS classes to be added */
.red-tile {
  color: red;
}

.no-pointers {
  pointer-events: none;
}

.hide {
  visibility: hidden;
  z-index: 0;
}

.show {
  visibility: visible;
}

/* Extreme screen sizes. */
@media (min-width: 1000px) {
  footer {
    font-size: 18px;
  }
}

/* @media (min-width: 1200px) {
  .play-area {
    height: 465px;
    width: 465px;
    border: 0;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
  }
} */

@media (max-width: 300px) {
  .tile {
    height: 12.3vw;
    width: 12.3vw;
  }
}

@media (max-height: 300px) {
  .play-area {
    height: 36.25vw;
    width: 36.25vw;
  }

  .tile {
    height: 11vw;
    width: 11vw;
  }
}

@media (max-width: 224px) {
  .play-area {
    width: 50vw;
    height: 50vw;
    border-top: solid #000 2vw;
    border-bottom: solid #000 2vw;
  }
}
