html,
body {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.play-area {
  position: absolute;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  height: 45vw;
  width: 45vw;
  padding: 0 0.5vw;
  background-color: #000;
  border: solid #000 1px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  color: yellowgreen;
  height: 14vw;
  width: 14vw;
  background-color: #fff;
  border: solid #000 1px;
}
